{% extends 'base.html' %}

{% block body %}

<title>
    {{ titulo }}
</title>
<table>

  <div class="tablas">
  <div class="tabla">
    <div class="precio">
      <p>Sistemas<sup></sup></p>
      <span>de Informacion</span>
    </div>
    <div class="titulo"><img src="/static/img/pat.png"/></div>
  </div>
  <div class="tabla scale">
    <div class="precio">
      <p>Base <sup></sup></p>
      <span>de Datos</span>
    </div>
    <div class="titulo"><img src="/static/img/rene.png"/></div>

  </div>
  <div class="tabla">
    <div class="precio">
      <p>Software<sup></sup></p>
      <span>libre</span>
    </div>
    <div class="titulo">
      <img src="/static/img/tuf.png"/>
    </div>
</table>


<center>
<table>
   <tr><img src="/static/img/si.png"/></tr>

  <td><img src="/static/img/rup.jpg" width="300" height="160"/></td>
   <td><img src="/static/img/jsf.png"/></td>
  <td><img src="/static/img/wf.png" width="300" height="160"/></td>

</table>
</center>

<center>
<table>
   <tr><img src="/static/img/base.png"/></tr>

  <td><img src="/static/img/inec.jpg" width="300" height="160"/></td>
   <td><img src="/static/img/ora.jpg" width="300" height="160"/></td>


</table>
</center>

<center>
<table>
   <tr><img src="/static/img/soft.png"/></tr>

  <td><img src="/static/img/libre.jpg" width="300" height="160"/></td>
   <td><img src="/static/img/fla.jpg" width="300" height="160"/></td>
   <td><img src="/static/img/gh.jpg" width="300" height="160"/></td>


</table>
</center>


<table>
  </div>
</div><div class="screen">
<div class="Bol"></div>
</div>

<div class="img" style="margin-left:10%;">
  <a target="_blank" href=""><img src="/static/img/fo4.jpg" alt="Klematis" width="110" height="90"/></a>
 <div class="desc"> Christian Lasso</div>
</div>
<div class="img">
  <a target="_blank" href=""><img src="/static/img/fo3.jpeg" alt="Klematis" width="110" height="90"/></a>
 <div class="desc">Ricardo Romo</div>
</div>
<div class="img">
  <a target="_blank" href=""><img src="/static/img/fo1.jpeg" alt="Klematis" width="110" height="90"/></a>
 <div class="desc">Karla Moyon</div>
</div>
<div class="img">
  <a target="_blank" href="klematis4_big.htm"><img src="/static/img/fo2.jpeg" alt="Klematis" width="110" height="90"/></a>
 <div class="desc">Sebastian Velasco</div>
</div>
</table>




{% endblock %}
